{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.avatar contains "://" %}
        {% assign author_src = author.avatar %}
      {% else %}
        {% assign author_src = author.avatar | absolute_url %}
      {% endif %}

      {% if author.home %}
        {% if author.home contains "://" %}
          {% assign author_link = author.home %}
        {% else %}
          {% assign author_link = author.home | absolute_url %}
        {% endif %}
        <a href="{{ author_link }}">
          <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">

    {% if author.home %}
      <a href="{{ author_link }}"><h3 class="author__name" itemprop="name">{{ author.name }}</h3></a>
    {% else %}
      <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% endif %}



<p class="author__bio" itemprop="description"><i>
    {% if author.bname %}{{ author.bname }}{% endif %}{% if author.bname2 %}, {{ author.bname2 }}{% endif %}{% if author.mname %}, {{ author.mname }}{% endif %}{% if author.mname2 %}, {{ author.mname2 }}{% endif %}{% if author.dname %}, {{ author.dname }}{% endif %}{% if author.dname2 %}, {{ author.dname2 }}{% endif %}{% if author.post1 %}, {{ author.post1 }}{% endif %}{% if author.post2 %}, {{ author.post2 }}{% endif %}{% if author.post3 %}, {{ author.post3 }}{% endif %} </i>
     </p>

    {% if author.bio %}
    <b>
      <p class="author__bio" itemprop="description">
    {% if author.honour1 %}
         {{ author.honour1 }} <br />
    {% endif %}
    {% if author.honour2 %}
         {{ author.honour2 }} <br />
    {% endif %}
    {% if author.honour3 %}
         {{ author.honour3 }} <br />
    {% endif %}
         {{ author.bio }}

    </b> </p>
    {% endif %}


     <p class="author__bio" itemprop="description">	
    {% if author.dept %}
         {{ author.dept }}
    {% endif %}
    {% if author.dbld %}
         <br /> {{ author.dbld }}
    {% endif %}
    {% if author.institution %}
         <br /> {{ author.institution }}
    {% endif %}
    {% if author.daddress1 %}
         <br /> {{ author.daddress1 }}
    {% endif %}
    {% if author.daddress2 %}
         <br /> {{ author.daddress2 }}
    {% endif %}
    {% if author.dnation %}
         <br /> {{ author.dnation }}
    {% endif %}
    </p>

    <p class="author__bio" itemprop="description">

    {% if author.office %}
         <br /><b>{{ site.data.ui-text[site.locale].office_label | default: "office" }}: </b>{{ author.office }}
    {% endif %}
    {% if author.ophone %}
         <br /><b>{{ site.data.ui-text[site.locale].phone_label | default: "phone" }}: </b>{{ author.ophone }}
    {% endif %}
    {% if author.mphone %}
         <br /><b>{{ site.data.ui-text[site.locale].mobile_label | default: "mobile" }}: </b>{{ author.mphone }}
    {% endif %}
    {% if author.fax %}
         <br /><b>{{ site.data.ui-text[site.locale].fax_label | default: "fax" }}: </b>{{ author.fax }}
    {% endif %}
    {% if author.email %}
         <br /><b>{{ site.data.ui-text[site.locale].emailme_label | default: "email" }}: </b>{{ author.email }}
    {% endif %}
      </p>



  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.uri %}
        <li>
          <a href="{{ author.uri }}" itemprop="url">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}
          </a>
        </li>
      {% endif %}

      {% if author.vitae %}
        <li>
          <a href="{{ author.vitae }}" itemprop="sameAs">
            <i class="fas fa-fw fa-file" aria-hidden="true"></i> vitae
          </a>
        </li>
      {% endif %}
<!-- 
      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}">
            <meta itemprop="email" content="{{ author.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}
          </a>
        </li>
      {% endif %}
 -->
<!-- Academic -->


      {% if author.gscholar %}
        <li>
          <a href="https://scholar.google.ca/citations?user={{ author.gscholar }}" itemprop="sameAs">
            <i class="ai ai-google-scholar" aria-hidden="true"></i> Google Scholar
          </a>
        </li>
      {% endif %}

      {% if author.orcid %}
        <li>
          <a href="https://orcid.org/{{ author.orcid }}" itemprop="sameAs">
            <i class="ai ai-orcid" aria-hidden="true"></i> ORCID
          </a>
        </li>
      {% endif %}

      {% if author.researchgate %}
        <li>
          <a href="https://www.researchgate.net/profile/{{ author.researchgate }}" itemprop="sameAs">
            <i class="ai ai-researchgate" aria-hidden="true"></i> ResearchGate
          </a>
        </li>
      {% endif %}
 
     {% if author.repec %}
        <li>
          <a href="https://ideas.repec.org/{{ author.repec }}.html" itemprop="sameAs">
            <i class="far fa-fw fa-lightbulb" aria-hidden="true"></i> IDEAS @ RePEc
          </a>
        </li>
      {% endif %}

      {% if author.pubmed %}
        <li>
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ author.pubmed }}[Author]" itemprop="sameAs">
            <i class="ai ai-pubmed" aria-hidden="true"></i> PubMed
          </a>
        </li>
      {% endif %}

      {% if author.arxiv %}
        <li>
          <a href="https://arxiv.org/a/warner_s_1/{{ author.researchgate }}.html" itemprop="sameAs">
            <i class="ai ai-arxiv" aria-hidden="true"></i> arXiv
          </a>
        </li>
      {% endif %}

      {% if author.biorxiv %}
        <li>
          <a href="https://www.biorxiv.org/search/{{ author.biorxiv }}" itemprop="sameAs">
            <i class="ai ai-biorxiv" aria-hidden="true"></i> bioRxiv
          </a>
        </li>
      {% endif %}


      {% if author.figshare %}
        <li>
          <a href="https://figshare.com/authors/{{ author.figshare }}" itemprop="sameAs">
            <i class="ai ai-figshare" aria-hidden="true"></i> figshare
          </a>
        </li>
      {% endif %}


      {% if author.scirate %}
        <li>
          <a href="https://www.scirate.com/{{ author.scirate }}" itemprop="sameAs">
            <i class="ai ai-scirate" aria-hidden="true"></i> SciRate
          </a>
        </li>
      {% endif %}

      {% if author.springer %}
        <li>
          <a href="https://link.springer.com/search?facet-creator={{ author.springer }}" itemprop="sameAs">
            <i class="ai ai-springer" aria-hidden="true"></i> springer
          </a>
        </li>
      {% endif %}


      {% if author.voxeu %}
        <li>
          <a href="https://voxeu.org/users/{{ author.voxeu }}" itemprop="sameAs">
            <i class="fas fa-fw fa-university" aria-hidden="true"></i> VOXeu
          </a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
          </a>
        </li>
      {% endif %}

      {% if author.academia %}
        <li>
          <a href="https://{{ author.ainstitution }}.academia.edu/{{ author.academia }}" itemprop="sameAs">
            <i class="ai ai-academia-square" aria-hidden="true"></i> Academia.edu
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}" itemprop="sameAs">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
          </a>
        </li>
      {% endif %}

      {% if author.gitlab %}
        <li>
          <a href="https://gitlab.com/{{ author.gitlab }}" itemprop="sameAs">
            <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> GitLab
          </a>
        </li>
      {% endif %}

      {% if author.depsy %}
        <li>
          <a href="http://depsy.org/person/{{ author.depsy }}" itemprop="sameAs">
            <i class="ai ai-depsy" aria-hidden="true"></i> depsy
          </a>
        </li>
      {% endif %}


<!-- Frequent Social -->

      {% if author.twitter %}
        <li>
          <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
          </a>
        </li>
      {% endif %}

      {% if author.youtube %}
        {% if author.youtube contains "://" %}
          <li>
            <a href="{{ author.youtube }}" itemprop="sameAs">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube
            </a>
          </li>
        {% else author.youtube %}
          <li>
            <a href="https://www.youtube.com/user/{{ author.youtube }}" itemprop="sameAs">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if author.facebook %}
        <li>
          <a href="https://www.facebook.com/{{ author.facebook }}" itemprop="sameAs">
            <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook
          </a>
        </li>
      {% endif %}

      {% if author.quora %}
        <li>
          <a href="https://www.quora.com/profile/{{ author.quora }}" itemprop="sameAs">
            <i class="fab fa-fw fa-quora" aria-hidden="true"></i> Quora
          </a>
        </li>
      {% endif %}

      {% if author.wikipedia %}
        <li>
          <a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}" itemprop="sameAs">
            <i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia
          </a>
        </li>
      {% endif %}

<!-- Other Social -->

      {% if author.google_plus %}
        <li>
          <a href="https://plus.google.com/{{ author.google_plus }}" itemprop="sameAs">
            <i class="fab fa-fw fa-google-plus-square" aria-hidden="true"></i> Google+
          </a>
        </li>
      {% endif %}



      {% if author.keybase %}
        <li>
          <a href="https://keybase.io/{{ author.keybase }}" itemprop="sameAs">
            <i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase
          </a>
        </li>
      {% endif %}



      {% if author.xing %}
        <li>
          <a href="https://www.xing.com/profile/{{ author.xing }}" itemprop="sameAs">
            <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING
          </a>
        </li>
      {% endif %}

      {% if author.instagram %}
        <li>
          <a href="https://instagram.com/{{ author.instagram }}" itemprop="sameAs">
            <i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram
          </a>
        </li>
      {% endif %}

      {% if author.tumblr %}
        <li>
          <a href="https://{{ author.tumblr }}.tumblr.com" itemprop="sameAs">
            <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr
          </a>
        </li>
      {% endif %}

      {% if author.bitbucket %}
        <li>
          <a href="https://bitbucket.org/{{ author.bitbucket }}" itemprop="sameAs">
            <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket
          </a>
        </li>
      {% endif %}


      {% if author.stackoverflow %}
        <li>
          <a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" itemprop="sameAs">
            <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stack Overflow
          </a>
        </li>
      {% endif %}

      {% if author.lastfm %}
        <li>
          <a href="https://last.fm/user/{{ author.lastfm }}" itemprop="sameAs">
            <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm
          </a>
        </li>
      {% endif %}

      {% if author.dribbble %}
        <li>
          <a href="https://dribbble.com/{{ author.dribbble }}" itemprop="sameAs">
            <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i> Dribbble
          </a>
        </li>
      {% endif %}

      {% if author.pinterest %}
        <li>
          <a href="https://www.pinterest.com/{{ author.pinterest }}" itemprop="sameAs">
            <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest
          </a>
        </li>
      {% endif %}


      {% if author.foursquare %}
        <li>
          <a href="https://foursquare.com/{{ author.foursquare }}" itemprop="sameAs">
            <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare
          </a>
        </li>
      {% endif %}

      {% if author.steam %}
        <li>
          <a href="https://steamcommunity.com/id/{{ author.steam }}" itemprop="sameAs">
            <i class="fab fa-fw fa-steam" aria-hidden="true"></i> Steam
          </a>
        </li>
      {% endif %}


      {% if author.soundcloud %}
        <li>
          <a href="https://soundcloud.com/{{ author.soundcloud }}" itemprop="sameAs">
            <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> SoundCloud
          </a>
        </li>
      {% endif %}

      {% if author.weibo %}
        <li>
          <a href="https://www.weibo.com/{{ author.weibo }}" itemprop="sameAs">
            <i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo
          </a>
        </li>
      {% endif %}

      {% if author.flickr %}
        <li>
          <a href="https://www.flickr.com/{{ author.flickr }}" itemprop="sameAs">
            <i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr
          </a>
        </li>
      {% endif %}

      {% if author.codepen %}
        <li>
          <a href="https://codepen.io/{{ author.codepen }}" itemprop="sameAs">
            <i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen
          </a>
        </li>
      {% endif %}

      {% if author.vine %}
        <li>
          <a href="https://vine.co/u/{{ author.vine }}" itemprop="sameAs">
            <i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine
          </a>
        </li>
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>
